.hamburger-button {
    --burger-line-width: 25px;
    --burger-line-height: 3px;
    @include flex(
        center,
        center
    ); // needed to properly align the base middle line into center of a burger-button
    cursor: pointer;
    position: absolute;
    height: calc(var(--burger-line-height) * 5);
    transform: translateX(calc(100% + var(--burger-line-width) / 2));
    right: 7px;
    top: calc(var(--burger-line-height) * 2);
    transition: transform 500ms ease-in-out;
    &-active {
        transform: translateX(0);
        .hamburger {
            &::before,
            &::after {
                width: calc(var(--burger-line-width) / 2 + 2px);
            }
            &::before {
                transform: translate(-5%, -200%) rotate(-45deg);
            }
            &::after {
                transform: translate(-5%, 200%) rotate(45deg);
            }
        }
    }
}

.hamburger {
    width: var(--burger-line-width);
    &,
    &::before,
    &::after {
        height: var(--burger-line-height);
        width: var(--burger-line-width);
        background-color: #000;
        transition: transform 500ms ease-in-out, width 500ms ease-in-out;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
    }
    &::before {
        transform: translateY(-200%);
    }
    &::after {
        transform: translateY(200%);
    }
}

@media (min-width: getMedia(sm)) {
    .hamburger-button {
        --burger-line-width: 35px;
        --burger-line-height: 4px;
    }
}

@media (min-width: getMedia(xlg)) {
    .hamburger-button {
        display: none;
    }
}
