.sidebar {
    &-header {
        font-size: 1rem;
        padding: 0 1em;
        text-align: center;
        margin-bottom: 1em;
        &-text {
            margin-bottom: 0.7em;
        }
    }
    &-title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    &-city {
        font-size: 1.5rem;
        max-width: 100%;
    }
    &-searchbar {
        width: 80%;
        margin: 0 auto;
        position: relative;
        padding: 0.3rem 0.5rem;
        padding-right: 1.8rem;
        margin-bottom: 1rem;
        border-radius: 500px;
        background-color: #fff;
    }
    &-search {
        font-size: 0.85rem;
        width: 100%;
        border: none;
        background-color: transparent;
    }
    &-search-img {
        font-size: 1.1rem;
        @include centerByPosition(absolute, y);
        right: 0.5rem;
        top: 45%;
    }
    &-loading {
        display: none;
        max-width: 100px;
        width: 20%;
        margin: 0 auto;
    }
    &-not-found {
        font-size: 1rem;
        color: #a00;
        font-weight: bold;
        font-family: sans-serif;
        display: none;
    }
}

.fetch-response {
    &-in-process {
        .sidebar-loading {
            display: block;
            animation: loading 2s linear infinite;
        }
    }
    &-failed {
        .sidebar-not-found {
            display: block;
        }
    }
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

@media (min-height: 690px) and (max-width: 699px) {
    .sidebar {
        &-title {
            font-size: 1.3rem;
        }
        &-city {
            font-size: 1.6rem;
        }
        &-search {
            font-size: 0.95rem;
        }
        &-search-img {
            font-size: 1.2rem;
        }
        &-not-found {
            font-size: 1rem;
        }
    }
}

@media (min-height: 750px) and (max-width: 699px) {
    .sidebar {
        &-title {
            font-size: 1.4rem;
        }
        &-city {
            font-size: 1.65rem;
        }
        &-search {
            font-size: 1rem;
        }
        &-search-img {
            font-size: 1.3rem;
        }
        &-not-found {
            font-size: 1.1rem;
        }
    }
}
