.sidebar {
    &-header {
        padding: 0 1em;
        text-align: center;
        &-text {
            margin-bottom: 0.7em;
        }
    }
    &-title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    &-city {
        font-size: 1.5rem;
        max-width: 100%;
    }
    &-searchbar {
        max-width: 200px;
        margin: 0 auto;
        position: relative;
        padding: 0.3rem 0.5rem;
        padding-right: 1.8rem;
        margin-bottom: 1rem;
        border-radius: 500px;
        background-color: #fff;
    }
    &-search {
        font-size: 0.85rem;
        width: 100%;
        border: none;
        background-color: transparent;
    }
    &-search-img {
        @include centerByPosition(absolute, y);
        right: 0.5rem;
        font-size: 1.1rem;
        top: 45%;
    }
    &-loading {
        display: none;
        width: 20%;
        margin: 0 auto;
    }
}

.not-found {
    font-size: 1rem;
    color: #a00;
    font-weight: bold;
    font-family: sans-serif;
    display: none;
}

.fetch-response {
    &-in-process {
        .sidebar-loading {
            display: block;
            animation: loading 2s linear infinite;
        }
    }
    &-failed {
        .not-found {
            display: block;
        }
    }
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}
