.sidebar {
    @include flex(space-between, $dir: column);
    position: fixed;
    background-color: getColor(bg-primary);
    height: 100%; // not vh just because of webkit bars bug
    min-width: 230px;
    padding-top: MIN(1rem, 12px);
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    z-index: 980;
    &-show {
        transform: translateX(0);
    }
}

@media (min-width: getMedia(xlg)) {
    .sidebar {
        height: auto;
        min-height: 100vh;
        position: static;
        transform: translateX(0);
    }
}
