.current-wrapper {
    padding: 0 calc(#{$github-width} + 13px) 1em 0.75em;
}
.current {
    @include flex();
    &-time {
        font-size: 1.3rem;
        font-family: sans-serif;
        font-weight: bold;
        margin-bottom: 0.7em;
    }
    &-infos-row {
        @include flex(space-evenly, flex-end);
        margin-bottom: 13px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-info {
        text-align: center;
        margin-right: 9px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-info-img {
        width: 2rem;
    }
    &-info-data {
        white-space: nowrap;
        font-size: 0.9rem;
    }
    &-description {
        font-size: 1.3rem;
        margin-left: 1em;
        max-width: 40ch;
    }
}
