.forecasts-wrapper {
    overflow: hidden;
    margin-bottom: 40px;
}

.forecasts-buttons {
    --img-width: 15px;
    --buttons-pad: 0.5rem;
    @include flex();
    padding: 0 var(--buttons-pad);
    &-button {
        cursor: pointer;
        &:last-child {
            margin-left: auto;
        }
        &:nth-child(2) img {
            margin-left: 7px;
        }
    }
    &-img {
        width: var(--img-width);
    }
    &-dropdown {
        position: relative;
    }
    &-dropdown-img {
        transition: transform 550ms linear;
        &-active {
            transform: rotateX(180deg);
        }
    }
    &-dropdown-menu {
        position: absolute;
        top: calc(var(--img-width) - 7px);
        left: 0;
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        border-radius: 1rem;
        min-width: 100px;
        max-height: 0;
        padding: 0em 1em;
        overflow: hidden;
        transition: max-height 1000ms linear, padding 1000ms ease-in-out,
            top 500ms ease-in-out;
        &-active {
            padding: 0.5em 1em;
            max-height: 130px;
            top: calc(var(--img-width) + 2px);
        }
    }
    &-dropdown-item {
        cursor: pointer;
        font-size: 1rem;
        & + & {
            margin-top: 0.3rem;
        }
        &-active {
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
    &-switch-img {
        &-rotate-180 {
            animation: spin180 200ms ease-in-out;
        }
        &-rotate-360 {
            animation: spin360 200ms ease-in-out;
        }
    }
}

.forecasts {
    @include flex();
    overflow: auto;
}

.forecast {
    @include flex(space-between, center, $dir: column);
    flex-shrink: 0;
    border-right: 2px solid;
    min-width: 100px;
    min-height: 150px;
    text-align: center;
    &:last-child {
        border: none;
    }
    &-hour {
        margin-bottom: 0.2em;
    }
    &-main-icon {
        width: 37px;
    }
    &-infos {
        @include flex();
    }
    &-info-column {
        @include flex(space-between, center, $dir: column);
        & + & {
            margin-left: 10px;
        }
    }

    &-info-img {
        width: 23px;
    }
    &-info-data {
        font-size: 0.9rem;
    }
}

// those keyframes were needed to spin always to the right, with transitions it bugged
@keyframes spin180 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes spin360 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}
