.forecasts-wrapper {
    overflow: hidden;
    margin-bottom: 40px;
    width: fit-content;
    max-width: 100%;
}

.forecasts {
    @include flex();
    overflow: auto;
}

.forecast {
    @include flex(space-between, center, $dir: column);
    flex-shrink: 0;
    border-right: 2px solid;
    min-width: 100px;
    min-height: 150px;
    padding: 0 0.5rem;
    text-align: center;
    &:last-child {
        border: none;
    }
    &-hour {
        font-family: sans-serif;
        margin-bottom: 0.2em;
    }
    &-main-icon {
        width: 2.5rem;
    }
    &-infos {
        @include flex();
    }
    &-info-column {
        @include flex(space-between, center, $dir: column);
        & + & {
            margin-left: 10px;
        }
    }

    &-info-img {
        width: 1.4rem;
    }
    &-info-data {
        font-size: 1rem;
    }
}
