$colors: (
    bg-primary: #89afd1,
    bg-secondary: #74aece,
);

$github-width: 40px;

// // main header variables
// $buttons-width: 23px;
// $buttons-offset: 5px;
// $buttons-space: calc(#{$buttons-width} + #{$buttons-offset});
// $buttons-space: calc(#{$buttons-width} + #{$buttons-offset});
// $hamburger-height: calc(#{$buttons-width} / 8);
// $hamburger-button-height: calc(#{$hamburger-height} * 5);
