*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 30px;
}

@media (min-width: getMedia(sm)) {
    html {
        font-size: 18px;
    }
}

@media (min-width: getMedia(md)) {
    html {
        font-size: 20px;
    }
}
