.gear-icon {
    cursor: pointer;
    width: 100%;
    transition: transform 500ms linear;
}

.hamburger-button {
    cursor: pointer;
    height: $hamburger-button-height;
    @include flex(center, center);
}

.hamburger {
    position: relative;
    &,
    &::before,
    &::after {
        height: $hamburger-height;
        width: 100%;
        background-color: #000;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
    }
    &::before {
        transform: translateY(-200%);
    }
    &::after {
        transform: translateY(200%);
    }
}
