.header {
    background-color: getColor(bg-primary);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: 0.5em 30px;
}

.brand {
    @include flex(center, $wrap: wrap);
    &-name {
        margin-right: 0.3em;
    }
    &-logo {
        width: 2.8rem;
        height: 2.5rem;
    }
}
