*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 30px;
}

@media (min-width: 500px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 0;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0;
  position: fixed;
  background-color: #89afd1;
  height: 100%;
  min-width: 230px;
  padding-top: MIN(1rem, 12px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  z-index: 980;
}

.sidebar-show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 1300px) {
  .sidebar {
    height: auto;
    min-height: 100vh;
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hamburger-button {
  --burger-line-width: 25px;
  --burger-line-height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
  cursor: pointer;
  position: absolute;
  height: calc(var(--burger-line-height) * 5);
  -webkit-transform: translateX(calc(100% + var(--burger-line-width) / 2));
          transform: translateX(calc(100% + var(--burger-line-width) / 2));
  right: 7px;
  top: calc(var(--burger-line-height) * 2);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.hamburger-button-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamburger-button-active .hamburger::before, .hamburger-button-active .hamburger::after {
  width: calc(var(--burger-line-width) / 2 + 2px);
}

.hamburger-button-active .hamburger::before {
  -webkit-transform: translate(-5%, -200%) rotate(-45deg);
          transform: translate(-5%, -200%) rotate(-45deg);
}

.hamburger-button-active .hamburger::after {
  -webkit-transform: translate(-5%, 200%) rotate(45deg);
          transform: translate(-5%, 200%) rotate(45deg);
}

.hamburger {
  width: var(--burger-line-width);
}

.hamburger, .hamburger::before, .hamburger::after {
  height: var(--burger-line-height);
  width: var(--burger-line-width);
  background-color: #000;
  -webkit-transition: width 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: width 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, width 500ms ease-in-out;
  transition: transform 500ms ease-in-out, width 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
}

.hamburger::before {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.hamburger::after {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

@media (min-width: 500px) {
  .hamburger-button {
    --burger-line-width: 35px;
    --burger-line-height: 4px;
  }
}

@media (min-width: 1300px) {
  .hamburger-button {
    display: none;
  }
}

.sidebar-header {
  font-size: 1rem;
  padding: 0 1em;
  text-align: center;
  margin-bottom: 1em;
}

.sidebar-header-text {
  margin-bottom: 0.7em;
}

.sidebar-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-city {
  font-size: 1.5rem;
  max-width: 100%;
}

.sidebar-searchbar {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 0.3rem 0.5rem;
  padding-right: 1.8rem;
  margin-bottom: 1rem;
  border-radius: 500px;
  background-color: #fff;
}

.sidebar-search {
  font-size: 0.85rem;
  width: 100%;
  border: none;
  background-color: transparent;
}

.sidebar-search:focus {
  outline: none;
}

.sidebar-search-img {
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.5rem;
  top: 45%;
  cursor: pointer;
}

.sidebar-loading {
  display: none;
  max-width: 100px;
  width: 20%;
  margin: 0 auto;
}

.sidebar-not-found {
  font-size: 1rem;
  color: #a00;
  font-weight: bold;
  font-family: sans-serif;
  display: none;
}

.fetch-response-in-proccess .sidebar-loading {
  display: block;
  -webkit-animation: loading 2s linear infinite;
          animation: loading 2s linear infinite;
}

.fetch-response-failed .sidebar-not-found {
  display: block;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@media (min-height: 690px) and (max-width: 699px) {
  .sidebar-title {
    font-size: 1.3rem;
  }
  .sidebar-city {
    font-size: 1.6rem;
  }
  .sidebar-search {
    font-size: 0.95rem;
  }
  .sidebar-search-img {
    font-size: 1.2rem;
  }
  .sidebar-not-found {
    font-size: 1rem;
  }
}

@media (min-height: 750px) and (max-width: 699px) {
  .sidebar-title {
    font-size: 1.4rem;
  }
  .sidebar-city {
    font-size: 1.65rem;
  }
  .sidebar-search {
    font-size: 1rem;
  }
  .sidebar-search-img {
    font-size: 1.3rem;
  }
  .sidebar-not-found {
    font-size: 1.1rem;
  }
}

.sidebar-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0;
}

.sidebar-day {
  font-size: 1.2rem;
  background-color: #74aece;
  padding: 0.7em;
  margin-bottom: 1.2em;
}

.sidebar-day:hover {
  cursor: pointer;
}

.sidebar-day-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
  margin-bottom: 0.5em;
}

.sidebar-day-row > * {
  margin-left: 1.2em;
}

.sidebar-day-row > *:first-child {
  margin-left: 0;
}

.sidebar-day-row:last-child {
  margin-bottom: 0;
}

.sidebar-day-img {
  width: 2rem;
}

.sidebar-day-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
}

.sidebar-day-temp span {
  padding: 0 0.1em;
}

.sidebar-today {
  margin-bottom: 3rem;
}

.sidebar-today-title {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0.7em;
}

.sidebar-next-days-title {
  font-size: 1.4rem;
  margin-bottom: 1em;
  text-align: center;
}

@media (min-height: 690px) and (max-width: 699px) {
  .sidebar-day {
    font-size: 1.4rem;
  }
  .sidebar-today {
    margin-bottom: 3.35rem;
  }
  .sidebar-today-title {
    font-size: 1.5rem;
  }
  .sidebar-next-days-title {
    font-size: 1.5rem;
  }
}

@media (min-height: 750px) and (max-width: 699px) {
  .sidebar-day {
    font-size: 1.5rem;
  }
  .sidebar-today {
    margin-bottom: 3.45rem;
  }
  .sidebar-today-title {
    font-size: 1.6rem;
  }
  .sidebar-next-days-title {
    font-size: 1.6rem;
  }
}

@media (min-height: 790px) and (max-width: 699px) {
  .sidebar-day {
    font-size: 1.6rem;
  }
  .sidebar-today {
    margin-bottom: 3.55rem;
  }
  .sidebar-today-title {
    font-size: 1.7rem;
  }
  .sidebar-next-days-title {
    font-size: 1.7rem;
  }
}

.main {
  min-height: 100vh;
}

@media (min-width: 1300px) {
  .main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.header {
  background-color: #89afd1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 0.5em 30px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0;
}

.brand-name {
  margin-right: 0.3em;
}

.brand-logo {
  width: 2.8rem;
  height: 2.5rem;
}

@media (min-width: 1300px) {
  .header {
    position: static;
    border-left: 3px solid;
  }
}

.config {
  --gear-width: 25px;
  --switch-width: 15px;
  --switch-offset: 10px;
  position: absolute;
  right: 7px;
  top: 2px;
  z-index: 3;
}

.config-gear-icon {
  cursor: pointer;
  width: var(--gear-width);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.config-gear-icon-active {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.config-menu {
  position: absolute;
  right: var(--gear-width);
  top: calc(var(--gear-width) / 2);
  background-color: #000;
  white-space: nowrap;
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.7em calc(var(--switch-width) + var(--switch-offset) + 5px) 0.7em 1.2em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.config-menu-active {
  pointer-events: auto;
  opacity: 1;
}

.config-menu-switch {
  cursor: pointer;
  position: absolute;
  right: var(--switch-offset);
  top: var(--switch-offset);
}

.config-menu-img {
  width: var(--switch-width);
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.config-data + .config-data {
  margin-top: 0.5em;
}

.config-data-active {
  color: #0f0;
}

.config [data-key] {
  display: inline-block;
  margin-right: 0.4em;
}

.config [data-value] {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em;
}

.config [data-value]:nth-child(2) {
  margin-left: 0;
}

.config [data-value]:last-child {
  margin-right: 0;
}

.config [data-value]:not(.config-data-active) {
  color: #aaa;
}

.config [data-value]:not(.config-data-active):hover {
  color: #fff;
}

@media (min-width: 500px) {
  .config {
    --gear-width: 33px;
    --switch-width: 20px;
    --switch-offset: 15px;
  }
}

.github {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.github-icon {
  width: 2.5rem;
}

.astronomy-wrapper {
  position: relative;
  min-height: 17px;
  margin-bottom: 10px;
}

.astronomy {
  position: relative;
  -webkit-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
  overflow: hidden;
  max-height: MIN(44vw, 200px);
}

.astronomy-hide {
  max-height: 0 !important;
}

.astronomy-info {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.9rem;
  text-align: center;
  text-shadow: 0 0 1px #fff;
}

.astronomy-info-pair {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.astronomy-info-text {
  line-height: 1.5;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.astronomy-info-sun, .astronomy-info-moon {
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  padding-bottom: MIN(22%, 100px);
}

.astronomy-info-moon {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.astronomy-info-sun-rise, .astronomy-info-sun-set, .astronomy-info-moon-rise, .astronomy-info-moon-set {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.astronomy-info-sun-rise {
  background-image: url("../assets/decoratives/sunrise.png");
}

.astronomy-info-sun-set {
  background-image: url("../assets/decoratives/sunset.png");
  background-position-y: 70%;
}

.astronomy-info-moon-rise {
  background-image: url("../assets/decoratives/moonrise.png");
}

.astronomy-info-moon-set {
  background-image: url("../assets/decoratives/moonset.png");
}

.astronomy-info-toggled .astronomy-info-moon {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.astronomy-info-toggled .astronomy-info-sun {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media (min-width: 700px) {
  .astronomy {
    max-height: MAX(100px, 11vw);
  }
  .astronomy-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 0;
  }
  .astronomy-info-sun, .astronomy-info-moon {
    padding-bottom: MAX(100px, 22%);
  }
}

.astronomy-visibility-toggler {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  -webkit-transition: color 200ms linear, -webkit-transform 200ms linear;
  transition: color 200ms linear, -webkit-transform 200ms linear;
  transition: transform 200ms linear, color 200ms linear;
  transition: transform 200ms linear, color 200ms linear, -webkit-transform 200ms linear;
}

.astronomy-visibility-toggler-rolled-up {
  color: #000 !important;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.astronomy-info-toggler {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  left: 5px;
  top: 5px;
  background-color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.astronomy-info-toggler-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.astronomy-info-toggled .astronomy-visibility-toggler {
  color: #fff;
}

@media (min-width: 700px) {
  .astronomy-visibility-toggler {
    color: #fff;
  }
}

.forecasts-menu {
  --img-height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
  padding: 0 8px;
  margin-bottom: 5px;
}

.forecasts-menu > *:last-child {
  margin-left: auto;
}

.forecasts-menu > *:nth-child(2) img {
  margin-left: 7px;
}

.forecasts-menu-button {
  cursor: pointer;
}

.forecasts-menu-img {
  height: var(--img-height);
  width: auto;
}

.forecasts-dropdown {
  position: relative;
}

.forecasts-dropdown-img {
  -webkit-transition: -webkit-transform 550ms linear;
  transition: -webkit-transform 550ms linear;
  transition: transform 550ms linear;
  transition: transform 550ms linear, -webkit-transform 550ms linear;
}

.forecasts-dropdown-img-active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.forecasts-dropdown-menu {
  font-family: sans-serif;
  position: absolute;
  top: calc(var(--img-height) - 7px);
  left: 0;
  background-color: #000;
  color: #aaa;
  white-space: nowrap;
  border-radius: 1rem;
  min-width: 100px;
  max-height: 0;
  padding: 0em 1em;
  overflow: hidden;
  -webkit-transition: max-height 1000ms linear, padding 1000ms ease-in-out, top 500ms ease-in-out;
  transition: max-height 1000ms linear, padding 1000ms ease-in-out, top 500ms ease-in-out;
}

.forecasts-dropdown-menu-active {
  padding: 0.5em 1em;
  max-height: 130px;
  top: calc(var(--img-height) + 3px);
}

.forecasts-dropdown-item {
  cursor: pointer;
  font-size: 1rem;
}

.forecasts-dropdown-item + .forecasts-dropdown-item {
  margin-top: 0.3rem;
}

.forecasts-dropdown-item:hover, .forecasts-dropdown-item-active {
  font-weight: bold;
  color: #fff;
  padding-left: 0.2em;
}

.forecasts-legend {
  font-family: sans-serif;
}

.legend-module {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #0008;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
  display: none;
}

.legend-module-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.legend {
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  padding: 1rem 2rem;
}

.legend-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
  min-height: 30px;
}

.legend-imgs {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-right: 1rem;
}

.legend-img {
  width: auto;
  height: 25px;
  display: inline-block;
  margin-right: 0.5rem;
}

@media (min-width: 500px) {
  .legend {
    font-size: 1.2rem;
  }
}

.switch-info-img-rotate-180 {
  -webkit-animation: spin180 200ms ease-in-out;
          animation: spin180 200ms ease-in-out;
}

.switch-info-img-rotate-360 {
  -webkit-animation: spin360 200ms ease-in-out;
          animation: spin360 200ms ease-in-out;
}

@-webkit-keyframes spin180 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes spin180 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes spin360 {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin360 {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.forecasts-wrapper {
  overflow: hidden;
  margin-bottom: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

.forecasts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
  overflow: auto;
}

.forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-right: 2px solid;
  min-width: 100px;
  min-height: 150px;
  padding: 0 0.5rem;
  text-align: center;
}

.forecast:last-child {
  border: none;
}

.forecast-hour {
  font-family: sans-serif;
  margin-bottom: 0.2em;
}

.forecast-main-icon {
  width: 2.5rem;
}

.forecast-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
}

.forecast-info-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0;
}

.forecast-info-column + .forecast-info-column {
  margin-left: 10px;
}

.forecast-info-img {
  width: 1.4rem;
}

.forecast-info-data {
  font-size: 1rem;
}

.current-wrapper {
  padding: 0 calc(2.5rem + 13px) 1em 0.75em;
}

.current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
}

.current-time {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 0.7em;
}

.current-infos-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0;
  margin-bottom: 13px;
}

.current-infos-row:last-child {
  margin-bottom: 0;
}

.current-info {
  text-align: center;
  margin-right: 9px;
}

.current-info:last-child {
  margin-right: 0;
}

.current-info-img {
  width: 2rem;
}

.current-info-data {
  white-space: nowrap;
  font-size: 0.9rem;
}

.current-description {
  font-size: 1.3rem;
  margin-left: 1em;
  max-width: 40ch;
}

.hide {
  display: none !important;
}

.bold {
  font-weight: bold !important;
}
/*# sourceMappingURL=styles.css.map */